# Get hardware utilization from selected experiment
## Instantiate a session
In order to fetch data from Neptune you need to get your `api_token` first.
To get it run:
    
```bash
neptune account api-token get
```

Now you can either pass it directly to a `Session` object or
you can put it in the `NEPTUNE_API_TOKEN` environment variable.

```bash
export NEPTUNE_API_TOKEN=YOUR_API_TOKEN
```

Either way you can start a session now.

In [1]:
from neptunelib.session import Session
# session=Session(api_token=YOUR_API_TOKEN)
session = Session()

## Fetch project
You need to choose the project on which you want to work on.
Let's take the `neptune-ml/Salt-Detecion` project from the `neptune-ml` organization.

Use `.get_projects(ORGANIZATION)[ORGANIZATION/PROJECT_NAME]` method which takes organization as input and outputs a dictionary.

In [2]:
project = session.get_projects('neptune-ml')['neptune-ml/Salt-Detection']

## Fetch experiment
Now you can fetch an experiment for which you want to extract numerical channels.
Use `.get_experiments(*kwargs)` to do so.
For example lets fetch 4 experiments by specifying their ids.

**Note**

There are other options to select experiments such as `tags` or `state`. You can read about them in the user guide.

In [3]:
experiments = project.get_experiments(id=['SAL-2342','SAL-204','SAL-240','SAL-241'])
experiment = experiments[3]
experiment.id

'SAL-2342'

## Fetch hardware utilization
You can now fetch your `memory/gpu/cpu` utilization using `.get_hardware_utilization()` method.

In [5]:
hardware_df = experiment.get_hardware_utilization()
hardware_df.head()

,x_cpu,y_cpu,x_ram,y_ram,x_gpu_util_3,y_gpu_util_3,x_gpu_ram_3,y_gpu_ram_3
0,420.0,99.8,420.0,12.367268,420.0,0.0,420.0,2.017578
1,3423.0,99.9,3423.0,12.438145,3423.0,0.0,3423.0,2.017578
2,6423.0,99.8,6423.0,12.590366,6423.0,29.0,6423.0,2.017578
3,9426.0,99.9,9426.0,12.979595,9426.0,15.0,9426.0,2.017578
4,12427.0,99.9,12427.0,13.390812,12427.0,2.0,12427.0,2.182617